[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
numpy = "*"
pandas = "*"

[dev-packages]
black = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pytype = "*"
prospector = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
