// @use "~@fontsource/roboto/scss/mixins.scss";
@import-normalize; /* bring in normalize.css styles */

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
