.sidebar {
  width: 500px;
  height: 100vh;
  background-color: #503ae0;
  position: absolute;
  transition: all 1s;

  .informacion{
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;

    .datos-informacion{
      font-size: 20px;
    }

    
  }

  

  .news {
    margin-top: 8px;
    display: block;
    float: right;
    font-size: 40px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
  }

  .titulo {
    text-emphasis: center;
    text-align: center;
    margin-top: 10px;
  }
}

.desactivate {
  transform: translateX(-550px);
}

.botones {
  display: flex;
}
