.navbar{
    width: 500px;
    height: 100vh;
    background-color: #503AE0;

    .news{
        margin-top: 8px;
        display: block;
        float: right;
        font-size: 40px;
        margin-right: 5px;
        color: white;
        cursor: pointer;
    }

    .titulo{
        text-emphasis: center;
    }
}

.desactivate{
    transform: translateX(-450px);
}

