@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.home{
    margin-top: 20px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
}


